@use '../common' as *;

.header-sale {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  min-height: 40px;

  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.header-sale__title {
  min-width: 75px;

  color: $text-accent-color;

  @media (max-width: $mobile) {
    min-width: 65px;
  }
}
