@use '../common' as *;

.slider {
  @media (max-width: $tablet) {
    position: relative;

    overflow: hidden;
  }
}

.slider__track {
  will-change: transform;
}

.slider__slide {
  @media (max-width: $tablet) {
    width: 100%;
    flex: 0 0 100%;

    user-select: none;
  }
}

.slider__pagination {
  display: none;

  @media (max-width: $tablet) {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 10;

    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    width: fit-content;
    padding: 8px;

    background-color: $background-color-light;
    border-radius: 10px;
    pointer-events: auto;

    transform: translateX(-50%);
  }
}

.slider__bullet {
  @include button-reset;

  width: 4px;
  height: 4px;

  border: 1px solid #999999;
  border-radius: 50%;

  transition: background-color $transition-default, border-color $transition-default, transform $transition-default;

  &--active {
    background-color: $background-color-accent;
    border-color: $border-color-accent;
    pointer-events: none;

    transform: scale(1.5);
  }

  &:hover,
  &:focus-visible {
    border-color: $border-color-accent;
    transform: scale(1.5);
  }
}
