@use '../common' as *;

.user-nav {
  @include list-reset;

  display: flex;
  align-items: center;
  gap: 30px;
  width: fit-content;
  margin-left: auto;

  @media (max-width: $tablet) {
    gap: 10px;
  }

  @media (max-width: $mobile) {
    gap: 0;
    margin-left: 0;
    margin-right: -10px;
  }
}

.user-nav__item:not(:last-of-type) {
  @media (max-width: $mobile) {
    border-right: 1px solid #ebebeb;
  }
}

.user-nav__link,
.user-nav__button {
  @include button-reset;
  @include link-reset;
  @include link-effects-secondary;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  min-width: 64px;
  min-height: 61px;

  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;

  transition: color $transition-default;

  &--favorites {
    min-width: 70px;

    @media (max-width: $mobile) {
      min-width: 60px;
    }
  }

  &--profile {
    gap: 18px;

    @media (max-width: $mobile) {
      gap: 0;
      min-width: 44px;
    }
  }

  @media (max-width: $mobile) {
    justify-content: center;
    min-width: 60px;
  }
}


.user-nav__link {
  @include link-disable-effects;
}

.user-nav__link svg,
.user-nav__button svg {
  @media (max-width: $mobile) {
    width: 20px;
    height: 20px;
  }
}

.user-nav__count {
  font-size: 14px;

  @media (max-width: $mobile) {
    @include visually-hidden;
  }
}

.user-nav__text {
  @media (max-width: $mobile) {
    @include visually-hidden;
  }
}
