.card {
  border-radius: 10px;
  overflow: hidden;
}

.card__link {
  @include link-reset;

  display: block;
  padding: 10px;
  padding-bottom: 0;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;

  transition: outline $transition-default, outline-offset $transition-default, opacity $transition-default;

  &:hover,
  &:focus-visible {
    outline: 4px solid $border-color-accent;
    outline-offset: -4px;
  }

  &:active {
    opacity: 0.5;
  }

  &:not([href]) {
    opacity: 0.8;
    pointer-events: none;
  }
}

.card__counts {
  order: -1;
  display: flex;
  justify-content: space-between;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px 0;
  min-height: 80px;

  font-weight: 500;
  text-align: center;
  letter-spacing: 0.01em;
}

.card__count {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 32px;

  font-size: 12px;
  font-weight: 600;

  border-radius: 50%;

  &--new {
    height: 40px;

    color: $text-main-color-light;

    background-color: $background-color-accent;
  }
}

