.color-themes {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  background-color: $background-color-secondary;
  border-radius: 30px;
  list-style: none;

  @media (max-width: $mobile) {
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 330px;
  }
}

.color-themes__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  cursor: pointer;

  transition: background-color $transition-default, color $transition-default, opacity $transition-default;

  &:hover,
  &:focus-visible {
    opacity: 0.5;
  }

  @media (max-width: $mobile) {
    justify-content: flex-start;
    gap: 12px;
    padding: 5px 10px;
    width: 165px;

    font-weight: 600;
    text-transform: uppercase;

    border-radius: 30px;
  }
}

.color-themes__button svg {
  width: 20px;
  height: 20px;
}

.color-themes__input {
  position: absolute;

  opacity: 0;
  pointer-events: none;
}

.color-themes__button:has(.color-themes__input:checked) {
  color: $text-main-color-light;
  background-color: $background-color-accent;
}

.color-themes__text {
  @media (max-width: $mobile) {
    @include visually-visible;
  }
}
