.header {
  display: flex;
  flex-direction: column-reverse;
}

.header__content {
  border-bottom: 1px solid $background-color-secondary;
}

.header__container {
  display: flex;
  align-items: center;

  @media (max-width: $mobile) {
    position: relative;
  }
}

.header__logo {
  margin-right: 19px;

  @media (max-width: $mobile) {
    padding-left: 15px;
    margin-right: 12px;
  }
}

.header__main-nav {
  align-self: center;
}

.header__color-themes {
  margin-right: 71px;
  margin-left: auto;

  @media (max-width: $max-width) {
    margin-right: vw(71);
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.header__search {
  @include link-reset;
  @include link-disable-effects;
  @include icon-button;

  display: block;

  @media (max-width: $mobile) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 61px;

    border-right: 1px solid #ebebeb;
  }
}

.header__search svg {
  @media (max-width: $mobile) {
    width: 20px;
    height: 20px;
  }
}

.header__burger {
  @include button-reset;

  display: none;

  @media (max-width: $mobile) {
    display: block;

    width: 60px;
    height: 61px;
    margin-left: auto;

    background-image: url("/img/icons/burger.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;

    transition: background $transition-default;
  }

  &--active {
    background-color: $text-accent-color;
    background-image: url("/img/icons/close.svg");
  }
}
