// RESET

@mixin button-reset {
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin visually-visible {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
  clip-path: none;
  overflow: visible;
  white-space: normal;
}

@mixin link-effects-primary {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 161px;
  min-height: 120px;
  padding: 10px;

  font-weight: 600;
  text-transform: uppercase;

  transition: color $transition-default, opacity $transition-default;

  &::before,
  &::after {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    transform: scale(0);
    transform-origin: center;
    transition: transform $transition-default;
  }

  &::before {
    background-color: $background-color-accent;
    border-radius: 80px;
  }

  &::after {
    border: 6px solid transparent;
    border-image-source: conic-gradient(from 90deg, $border-color-dark 0 100%, transparent 0 100%);
  }

  &:hover,
  &:focus-visible {
    color: $text-main-color-light;

    &::before,
    &::after {
      transform: scale(1);
    }
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $max-width) {
    min-width: vw(161);
    min-height: vw(120);
  }

  @media (max-width: $tablet) {
    &::after {
      border-width: 4px;
    }
  }

  @media (max-width: $mobile) {
    padding: 0;
    min-width: auto;
    min-height: auto;

    &::before,
    &::after {
      display: none;
    }
  }
}

@mixin link-effects-secondary {
  transition: color $transition-default, opacity $transition-default;

  &:hover,
  &:focus-visible {
    color: $text-accent-color;
  }

  &:active {
    opacity: 0.5;
  }
}

@mixin link-disable-effects {
  &:not([href]) {
    opacity: 0.5;
    pointer-events: none;
  }
}

@mixin icon-button {
  @include link-effects-secondary;

  width: 24px;
  height: 24px;

  @media (max-width: $mobile) {
    width: 20px;
    height: 20px;
  }
}

@mixin button {
  @include button-reset;

  position: relative;

  padding: 10px;
  width: 175px;
  min-height: 60px;

  font-size: 14px;
  font-weight: 600;
  color: $text-main-color-light;
  text-transform: uppercase;

  background-color: $background-color-accent;
  border-radius: 30px;
  overflow: hidden;

  transition: opacity $transition-default;

  &::before {
    position: absolute;
    content: "";
    inset: 0;

    opacity: 0;
    background-color: $border-color-dark;
    pointer-events: none;

    transition: opacity $transition-default;
  }

  &:hover::before,
  &:focus-visible::before {
    opacity: 0.1;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $mobile) {
    width: 160px;
    min-height: 50px;
  }
}

@mixin button-disable-effects {
  &:disabled {
    color: $text-secondary-color-dark;
    background-color: #ebebeb;
    pointer-events: none;
  }
}
