// BREAKPOINTS
$design-width: 1600;
$max-width: 1600px;
$tablet: 1023px;
$mobile: 680px;

// COLORS
$text-main-color-dark: #202020;
$text-main-color-light: #ffffff;
$text-secondary-color-light: #f0f0f0;
$text-secondary-color-dark: #999999;
$text-accent-color: #ff4b41;
$background-color-light: #ffffff;
$background-color-dark: #202020;
$background-color-secondary: #f0f0f0;
$background-color-accent: #ff4b41;
$border-color-dark: #202020;
$border-color-accent: #ff4b41;
$transition-default: 0.3s ease-in-out;
